<footer class="d-flex justify-content-between align-items-center py-2 border-top mb-0">
    <div class="col-md-4 mb-0 text-start ps-3" style="color: white">&copy; 2021 Company</div>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a href="/" class="nav-link " style="color: white">New Game</a>
        </li> 
    </ul>
</footer>